body {
    width: 21cm;
    height: 29cm;
    padding-left: 10cm;
    border: 1px;
    background-image: url(foto/hellowworld.jpg);
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    /*box-shadow: rgba(red, green, blue, alpha); НЕ РАЗОБРАЛСЯ*/
}
#H1 {
    font-family: serif;
    font-weight: bold;
    font-size: 24pt;
    text-align: left;
    text-align: center;
}
#H2 {
    font-family: serif;
    font-weight: bold;
    font-weight: 18pt;
    text-align: center;
}
#text {
    font-family: sans-serif;
    font-size: 18pt;
    text-align: justify;
    background-color: rgba(240, 223, 223, 0.486);
}
#foto {
    padding-left: 0.5cm;
}
#im {
    font-family: serif;
    font-size: 12pt;
}
#Tab01 {
    border: black;
    border-collapse: collapse;
    font-family: serif,12pt;
    font-weight: bold;
    background-color: rgba(240, 223, 223, 0.486);
}
#rozoviy {
    background-color:pink;
}
caption {
    font-size: 24px;
    text-align: center;
}
#Tab02 {
    font-weight: bold ;
    border: 1px;
    border-collapse: collapse;
    border-top: none;
    border-color: black;
    border-right: 0px;
    border-left: 0px;
    background-color: rgba(240, 223, 223, 0.486);
    }
#col01 {
    text-align: center;
}
#part {
    font-style: italic;
    display: inline;
}
